.App {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: rgb(92, 209, 255);
  height: 100%;
  width: 100%;
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.boxed {
  width: 50%;
  align-self: center;
  margin-top: 20px;
}

.temperature {
  font-size: 5rem;
  margin-bottom: 20px
}

.position {
  font-size: 0.6rem;
  margin-bottom: 20px;
}

.comment {
   font-size: 1rem;
   color: palevioletred;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}